input {
  border-width: 0px 0px 1px 0px;
  border-color: hsl(0, 0%, 0%);

  display: inline-block;

  font-family: inherit;
  text-align: center;

  margin: 0px 5px;

  transition: background 0.3s ease;
}

input.invalid {
  background-color: hsl(0, 100%, 95%);
}

input::-webkit-input-placeholder {
  color: hsl(0, 0%, 0%);
}

.root:hover input {
  background: none;
}
